{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}

<div>
    <h1>Edit page {{ title }}</h1>
    <p>Use markdown syntax.</p>

    <form action="{% url 'edit_page' entry=title %}" method="POST">

        {% csrf_token %}
        <div>
            <textarea class="text-editor" name="edit_content" placeholder="Entry content..." rows="10"> {{ content }}</textarea>
        </div>
        <input class="btn btn-dark" type="submit" value="Save">
    </form>
</div>

{% endblock %}